//common
$c_white: #fff;
$c_red: #f50e0e;
$c_gray_border: #bab9c3;
$c_mainbg: #c1c3c7;
$c_bg: #edeff1;
$c_nav_bg: #424141;
$c_lightpink: #fff0f0;
$c_pink: #db0a5b;

$c_main_border: #d0d8e2;
$c_warning_border: #6ab8b8;
$c_disabled: #979797;

//font
$c_f_main: #383838;
$c_f_header: #22242a;
$c_lightgray: #808080;
$c_darkblue: #354069;
